%li.nav-item.dropdown
  %a#adminDropdown.nav-link.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true",
                                             "data-toggle" => "dropdown", :href => "#", :role => "button" }
    .fa.fa-tools
    Admin
  .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "adminDropdown"}
    = link_to users_path, class: "dropdown-item" do
      .fa.fa-users
      Users

    = link_to enrollments_path, class: "dropdown-item" do
      .fa.fa-lock-open
      Enrollments

    = link_to activity_path, class: "dropdown-item" do
      .fa.fa-bell
      Activity