- content_for :title do
  Analytics
  \|
  Udem

%h1
  Analytics

.pt-4
  .chart.mb-5
    %h3
      Users created per day
    = line_chart charts_users_per_day_path

  .chart.mb-5
    %h3
      Enrollments created per day
    = line_chart charts_enrollments_per_day_path

  .chart.mb-5
    %h3
      Course popularity
    = bar_chart charts_course_popularity_path

  .chart.mb-5
    %h3
      Most paid courses
    = bar_chart charts_money_makers_path
