- content_for :title do
  New enrollment
  \|
  Udem

%nav.mb-4{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.mb-0
    %li.breadcrumb-item
      = link_to "Enrollments", enrollments_path

    %li.breadcrumb-item.active{"aria-current" => "page"}
      New

.card
  .card-header
    %h1 New enrollment

  .card-body
    = render 'form'

  .card-footer
    = link_to 'All enrollments', enrollments_path, class: "card-link"
