.card
  .card-header
    %h1 Editing course

  .card-body
    = render 'form'

  .card-footer
    = link_to 'Show course', @course, class: "card-link"
    = link_to 'Back to courses', courses_path, class: "card-link"
