%nav.mb-4{"aria-label" => "breadcrumb"}
  %ol.breadcrumb.mb-0
    %li.breadcrumb-item
      = link_to "Courses", courses_path

    %li.breadcrumb-item.active{"aria-current" => "page"}
      New course

.card
  .card-header
    %h2 New course

  .card-body
    = render 'form'

  .card-footer
    = link_to 'All Courses', courses_path, class: "card-link"
