@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext";

@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

.form-control.is-invalid{ background-image: none}
.form-control.is-valid{ background-image: none}
trix-editor.form-control {
  height: auto;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}
