%footer.mt-5.p-5.bg-dark.text-white
  .container
    .row
      .col-md-4
        &#169;
        = Time.now.year
        Test project by Ruby on Rails
        .row
        .fa.fa-envelope
        = mail_to "romka69tver@lgmail.com"
        .row
      .col-md-4
        About us
        .row
        = link_to "Teach on EDURGE", new_course_path